%h1 Recall Events

%table
  %thead
    %tr
      %th
      %th

  %tbody
    - @recall_events.each do |recall_event|
      %tr
        %td= recall_event.report_date
        %td= link_to 'Show', recall_event

= paginate @recall_events
